# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd

In [23]:
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df_1 = pd.read_csv(url1)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)

In [18]:
df_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [24]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [25]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [29]:
df_3 = df_3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [31]:
df_2 = df_2[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints','Policy Type','Vehicle Class',
       'Total Claim Amount']]

In [34]:
df_2=df_2.rename(columns={'ST':'State'})

In [36]:
df_2=df_2.rename(columns={'GENDER':'Gender'})

In [38]:
df_1=df_1.rename(columns={'GENDER':'Gender'})
df_1=df_1.rename(columns={'ST':'State'})

In [42]:
auto_df = pd.concat([df_1, df_2,df_3], axis=0)

#combined datasets after reordering columns and cleaning names

In [44]:
for col in auto_df.columns:
    auto_df.rename(columns={col: col.lower()}, inplace=True)
#makes columns lower case

In [46]:
for col in auto_df.columns:
    auto_df.rename(columns={col: col.replace(' ', '_')}, inplace = True)
    
    #replaces white space with _

In [48]:
#import numpy as np

auto_df['gender'] = auto_df['gender'].str.strip()
auto_df['state'] = auto_df['state'].str.strip()

In [51]:
auto_df.nunique()

customer                     9056
state                           8
gender                          5
education                       6
customer_lifetime_value      8211
income                       5655
monthly_premium_auto          209
number_of_open_complaints      12
policy_type                     3
vehicle_class                   6
total_claim_amount           5070
dtype: int64

In [53]:
def standardize_gender(value):
    if isinstance(value, str): #this is in case there is a non-string object in the values like NaN
        value = value.lower()
        if value in ['M', 'male']:
                 return 'Male'
        elif value in ['F', 'Femal','female']:
                return 'Female'
    return 'Unknown'
    
    
    #creating a function to standardize Gender values

In [55]:
auto_df['gender'] = auto_df['gender'].apply(standardize_gender)

In [57]:
auto_df.gender.unique()

array(['Unknown', 'Male', 'Female'], dtype=object)

In [59]:
def standardize_states(value):
    if isinstance(value, str):
        value = value.lower()
        if value in ['cali', 'California']:
            return 'california'
        elif value in ['wa', 'Washington']:
            return 'washington'
        elif value in ['az', 'Arizona']:
            return 'Arizona'
    return value

#standardize state values

In [61]:
auto_df['state'] = auto_df['state'].apply(standardize_states)

In [63]:
#standardize luxury vehicle class 
def standardize_luxury(value):
    if isinstance(value, str):
        value = value.lower()
        if value in ['Sports Car', 'Luxury SUV', 'Luxury Car']:
            return 'Luxury'
        return value.lower()

In [64]:
auto_df['vehicle_class'] = auto_df['vehicle_class'].apply(standardize_luxury)

In [65]:
def standardize_education(value):
    if isinstance(value, str):
        value = value.lower()
        if value in ['Bachelors']:
            return 'Bachelor'      
        return value.lower()

In [67]:
auto_df['education'] = auto_df['education'].apply(standardize_education)

In [68]:
#takes out % character from this column
auto_df['customer_lifetime_value'] = auto_df['customer_lifetime_value'].str.replace('%', ' ', regex=False)

In [69]:
#changes type to integer 

auto_df['customer_lifetime_value'] = pd.to_numeric(auto_df['customer_lifetime_value'], errors = 'coerce')

In [70]:
def extract_middle(s):
    if isinstance(s, str):
        parts = s.split('/')
        if len(parts) > 1: 
            return int(parts[1])
    return None


    #Had to modify function to handle instances of non-string values

In [71]:
auto_df['number_of_open_complaints'] = auto_df['number_of_open_complaints'].apply(extract_middle)

In [73]:
auto_df['number_of_open_complaints'] = auto_df['number_of_open_complaints'].round(0)

In [75]:
auto_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,washington,Unknown,master,NaN,0.0,1000.0,0.0,Personal Auto,four-door car,2.704934
1,QZ44356,arizona,Unknown,bachelor,697953.59,0.0,94.0,0.0,Personal Auto,four-door car,1131.464935
2,AI49188,nevada,Unknown,bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,two-door car,566.472247
3,WW63253,california,Unknown,bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,suv,529.881344
4,GA49547,washington,Unknown,high school or below,536307.65,36357.0,68.0,0.0,Personal Auto,four-door car,17.269323

In [76]:
auto_df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [79]:
auto_df.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,2.060000e+03,9137.000000,9137.000000,2067.000000,9137.000000
mean,7.799463e+05,37828.820291,110.391266,0.381713,430.527140
std,6.329809e+05,30358.716159,581.376032,0.886007,289.582968
min,2.004351e+05,0.000000,61.000000,0.000000,0.099007
25%,3.978076e+05,0.000000,68.000000,0.000000,266.996814
50%,5.720275e+05,34244.000000,83.000000,0.000000,377.561463
75%,8.819019e+05,62447.000000,109.000000,0.000000,546.420009
max,5.816655e+06,99981.000000,35354.000000,5.000000,2893.239678

In [80]:
#filling nan and null values with zero so i can then turn this column value into an integer because i don't like the decimal point 
auto_df['number_of_open_complaints'].fillna(0, inplace=True)

In [82]:
auto_df['number_of_open_complaints'] = auto_df['number_of_open_complaints'].astype(int)

In [84]:
auto_df.isnull().any()

customer                      True
state                         True
gender                       False
education                     True
customer_lifetime_value       True
income                        True
monthly_premium_auto          True
number_of_open_complaints    False
policy_type                   True
vehicle_class                 True
total_claim_amount            True
dtype: bool

In [85]:
auto_df.isnull()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7065,False,False,False,False,True,False,False,False,False,False,False
7066,False,False,False,False,True,False,False,False,False,False,False
7067,False,False,False,False,True,False,False,False,False,False,False
7068,False,False,False,False,True,False,False,False,False,False,False
7069,False,False,False,False,True,False,False,False,False,False,False

In [87]:
#changing all the categorical column nulls to N/A 

auto_df.customer.fillna('N/A', inplace=True)
auto_df.state.fillna('N/A', inplace=True)
auto_df.education.fillna('N/A', inplace=True)
auto_df.policy_type.fillna('N/A', inplace=True)
auto_df.vehicle_class.fillna('N/A', inplace=True)

In [88]:
auto_df.isnull().any()

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value       True
income                        True
monthly_premium_auto          True
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount            True
dtype: bool

In [89]:
auto_df.customer_lifetime_value.fillna(auto_df.customer_lifetime_value.median(), inplace=True)

In [90]:
auto_df.monthly_premium_auto.fillna(auto_df.monthly_premium_auto.median(), inplace=True)

In [91]:
auto_df.total_claim_amount.fillna(auto_df.total_claim_amount.median(), inplace=True)

In [92]:
auto_df.income.fillna(auto_df.income.median(), inplace=True)

In [93]:
auto_df.isnull().any()

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

In [94]:
auto_df.duplicated().sum()

2941

In [96]:
auto_df.drop_duplicates(inplace=True)

In [98]:
auto_df.duplicated().sum()

0

In [99]:
auto_df_wo_duplicates = auto_df.copy()

In [100]:
auto_df_wo_duplicates.reset_index(drop=True, inplace=True)
auto_df_wo_duplicates.tail()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
9128,LA72316,california,Unknown,bachelor,572027.54,71941.0,73.0,0,Personal Auto,four-door car,198.234764
9129,PK87824,california,Unknown,college,572027.54,21604.0,79.0,0,Corporate Auto,four-door car,379.200000
9130,TD14365,california,Unknown,bachelor,572027.54,0.0,85.0,0,Corporate Auto,four-door car,790.784983
9131,UP19263,california,Unknown,college,572027.54,21941.0,96.0,0,Personal Auto,four-door car,691.200000
9132,Y167826,california,Unknown,college,572027.54,0.0,77.0,0,Corporate Auto,two-door car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [101]:
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

In [102]:
market_df = pd.read_csv(url4)

In [110]:
market_df.describe()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330,1.466728
std,3149.590053,6885.081434,30359.195670,34.442532,9.783520,27.940675,0.885589,2.399359,292.180556,0.498915
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000
25%,2727.250000,4014.453113,0.000000,68.000000,7.000000,24.000000,0.000000,1.000000,271.082527,1.000000
50%,5454.500000,5771.147235,33813.500000,83.000000,15.000000,48.000000,0.000000,2.000000,382.564630,1.000000
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.384256,4.000000,547.200000,2.000000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000

In [111]:
market_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [114]:
market_df.tail()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [105]:
market_df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [116]:
#first i want to add up all customer lifetime values for each sales channel
total_revenue = market_df.groupby('sales_channel')['customer_lifetime_value'].sum()

In [117]:
print(total_revenue)

sales_channel
Agent          3.305789e+07
Branch         2.435920e+07
Call Center    1.736429e+07
Web            1.269763e+07
Name: customer_lifetime_value, dtype: float64

In [118]:
summary_table = market_df.pivot_table(index='sales_channel', values='customer_lifetime_value', aggfunc='sum')

In [119]:
summary_table = summary_table.round(2)

In [120]:
print(summary_table)

#It looks like agents have the highest success rate in bringing revenue to the company. I would look for ways to improve the web presence so that it can convert more visitors into paying customers.It seems that customers like a personal / human touch when buying insurance.

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [121]:
age_gender_table = market_df.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean')

In [122]:
print(age_gender_table)

education     Bachelor      College       Doctor  High School or Below  \
gender
F          7874.269478  7748.823325  7328.508916           8675.220201
M          7703.601675  8052.459288  7415.333638           8149.687783

education       Master
gender
F          8157.053154
M          8168.832659

In [ ]:
#it seems like the customer lifetime value is higher for people with master's degrees, as well as high school or below. However there is no specific explanation of whether 'college' refers to some college? because bachelor is in a separate column. In some instances female customers bring more customer lifetime value but it's not uniform across the board so it doesn't seem like gender has much influence on this, but the differences are higher in education.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here